
	<%- include ('../layouts/header.ejs') %>

	
	<div class="header-top">
			<div class="wrap"> 
			  <div class="header-top-left">
			  	  
   			 </div>
			 <div class="cssmenu">
				
			</div> 
			<div class="clear"></div>
 		</div>
	</div>
	 <div class="header-bottom">
	    <div class="wrap">
			<div class="header-bottom-left">
				<div class="logo">
					<a href="/"><img style="width: 100px;height:100px;" src="/assets/images/troutstoplogo.png" alt=""/></a>
				</div>
				
		</div>
	  
     <div class="clear"></div>
     </div>
	</div>
          <div class="register_account">
          	<div class="wrap">
    	      <h4 class="title">Create an Account</h4>
			  <% if(typeof message !== 'undefined'){%>
  
				<p style="color: red"><%= message %></p>
				<%}%>
    		   <form action="/signup" method ="post" onsubmit="return validate()" >
				
				
    			 <div class="col_1_of_2 span_1_of_2">
						<div><input type="text" id= "fname" placeholder="First Name" name="firstname" onkeyup = "fnameValidate()"></div>
					    <h1 id="FName" style="color: red;"></h1>
						<div><input type="text" id="lname" placeholder="Last Name" name="lastname"   onkeyup = "lnameValidate()"></div>
						<h1 id="LName" style="color: red;"></h1>
						<div><input type="password" id="password" placeholder="Password" name="password" onkeyup="passwordValidate()"></div>
		    			<h1 id="Password" style="color: red;"></h1>
						<div><input type="password" id="password2" placeholder="Confirm password" name="password2" onkeyup="passwordValidate2()"></div>
						<h1 id="Password2" style="color: red;"></h1>
					</div>
		    	  <div class="col_1_of_2 span_1_of_2">	
		    		<div><input type="text" placeholder="Email" name="email" onkeyup="emailValidate()""></div>
		    		<div><select id="country" name="gender" onchange="change_country(this.value)" class="frm-field required">
		            <option value="null">Gender</option>         
		            <option value="M">Male</option>
		            <option value="F">Female</option>
					<option value="O">Others</option>
		            </select></div>		        
		          <div><input type="text" id="zipcode" placeholder="Zip-code" name="zipcode" onkeyup="zipValidate()"></div>
				  <h1 id="Zipcode" style="color: red;"></h1>
				  <div>
		          </div>

						  <input type="text" id= "phonenumber" placeholder="Mobile number" name="phonenumber"  onkeyup="numberValidate()">
						  <h1 id="Phonenumber" style="color: red;"></h1>
						</div>
		      <button type="submit" value="submit" class="grey" onclick="validate()">Submit</button>
		    <p class="terms">By clicking 'Create Account' you agree to the <a href="#">Terms &amp; Conditions</a>.</p>
		    <div class="clear"></div>
		    </form>
    	</div>
    </div>
    <div class="footer">
		<div class="footer-top">
			<div class="wrap">
			  <div class="section group example">
				<div class="col_1_of_2 span_1_of_2">
					<ul class="f-list">
					  <li><img src="/assets/login/images/2.png"><span class="f-text">Free Shipping on orders over $ 100</span><div class="clear"></div></li>
					</ul>
				</div>
				<div class="col_1_of_2 span_1_of_2">
					<ul class="f-list">
					  <li><img src="/assets/login/images/3.png"><span class="f-text">Call us! toll free-222-555-6666 </span><div class="clear"></div></li>
					</ul>
				</div>
				<div class="clear"></div>
		      </div>
			</div>
		</div>
		<div class="footer-middle">
			<div class="wrap">
			 <div class="section group example">
			  <div class="col_1_of_f_1 span_1_of_f_1">
				 <div class="section group example">
				   <div class="col_1_of_f_2 span_1_of_f_2">
				      <h3>Facebook</h3>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
						<div class="like_box">	
							<div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
						</div>
 				  </div>
				  <div class="col_1_of_f_2 span_1_of_f_2">
						<h3>From Twitter</h3>
				       <div class="recent-tweet">
							<div class="recent-tweet-icon">
								<span> </span>
							</div>
							<div class="recent-tweet-info">
								<p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
							</div>
							<div class="clear"> </div>
					   </div>
					   <div class="recent-tweet">
							<div class="recent-tweet-icon">
								<span> </span>
							</div>
							<div class="recent-tweet-info">
								<p>Ds which don't look even slightly believable. If you are <a href="#">going to use nibh euismod</a> tincidunt ut laoreet adipisicing</p>
							</div>
							<div class="clear"> </div>
					  </div>
				</div>
				<div class="clear"></div>
		      </div>
 			 </div>
			 <div class="col_1_of_f_1 span_1_of_f_1">
			   <div class="section group example">
				 <div class="col_1_of_f_2 span_1_of_f_2">
				    <h3>Information</h3>
						<ul class="f-list1">
						    <li><a href="#">Duis autem vel eum iriure </a></li>
				            <li><a href="#">anteposuerit litterarum formas </a></li>
				            <li><a href="#">Tduis dolore te feugait nulla</a></li>
				             <li><a href="#">Duis autem vel eum iriure </a></li>
				            <li><a href="#">anteposuerit litterarum formas </a></li>
				            <li><a href="#">Tduis dolore te feugait nulla</a></li>
			         	</ul>
 				 </div>
				 <div class="col_1_of_f_2 span_1_of_f_2">
				   <h3>Contact us</h3>
						<div class="company_address">
					                <p>500 Lorem Ipsum Dolor Sit,</p>
							   		<p>22-56-2-9 Sit Amet, Lorem,</p>
							   		<p>USA</p>
					   		<p>Phone:(00) 222 666 444</p>
					   		<p>Fax: (000) 000 00 00 0</p>
					 	 	<p>Email: <span>mail[at]leoshop.com</span></p>
					   		
					   </div>
					   <div class="social-media">
						     <ul>
						        <li> <span class="simptip-position-bottom simptip-movable" data-tooltip="Google"><a href="#" target="_blank"> </a></span></li>
						        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Linked in"><a href="#" target="_blank"> </a> </span></li>
						        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Rss"><a href="#" target="_blank"> </a></span></li>
						        <li><span class="simptip-position-bottom simptip-movable" data-tooltip="Facebook"><a href="#" target="_blank"> </a></span></li>
						    </ul>
					   </div>
				</div>
				<div class="clear"></div>
		    </div>
		   </div>
		  <div class="clear"></div>
		    </div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="wrap">
	            <div class="copy">
			           <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
		       </div>
		       <div class="f-list2">
				<ul>
					<li class="active"><a href="about.html">About Us</a></li> |
					<li><a href="delivery.html">Delivery & Returns</a></li> |
					<li><a href="delivery.html">Terms & Conditions</a></li> |
					<li><a href="contact.html">Contact Us</a></li> 
			    </ul>
			   </div>
				<div class="clear"></div>
		      </div>
			</div>
		</div>

		<%- include ('../layouts/footer.ejs') %>
	
<!-- </body>
</html> -->